@tailwind base;
@tailwind components;
@tailwind utilities;



/* 
https: //i.ibb.co/wrbkyvq/pngtree-perfume-rose-silk-simple-background-image-2391733.jpg    
 https://i.ibb.co/9GbxRSF/pngtree-perfume-rose-white-background-image-769419.jpg 
 https://i.ibb.co/hytd65s/pexels-rovenimagescom-949590.jpg  

https: //i.ibb.co/Vw8jDmq/Pngtree-perfume-light-sense-retro-background-2445716.png
https: //i.ibb.co/Z22F4WG/pngtree-perfume-glass-bottle-vintage-background-image-2391679.jpg
https: //i.ibb.co/jkLD8L2/pngtree-perfume-rose-beautiful-background-image-2391741.jpg
https: //i.ibb.co/S63ZSZZ/pngtree-perfume-with-roses-and-in-a-basket-image-2529102.png
https: //i.ibb.co/9HHhQG3/pngtree-perfume-stone-green-background-image-2120146.jpg
https: //i.ibb.co/zrkvNrt/pngtree-perfume-blue-snow-background-image-2459836.jpg */